/* 字符换行 */
* {
  word-break: break-all;
}

/* 页面填满 */
html,
body {
  height: 100%;
}

/* 背景图片 */
body {
  background-size: cover;
  color: #000;
  font-size: 20px;
}
/* 半透明背景  */
/* .alpha-div {
  background-color: rgba(0, 0, 125, 0.4);
} */

.h100 {
  height: 100%;
}

.h80 {
  height: 80%;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 70%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w30{
  width: 30%;
}

.pd5 {
  padding: 5px;
}

.pd10 {
  padding: 10px;
}

.pd20 {
  padding: 20px;
}

.pd40{
  padding: 40px;
}
.mr50 {
  margin: 50px;
}

.mr30 {
  margin: 30px;
}
.mt30 {
  margin-top: 30px !important; 
}

/* 压力布局 */
.myflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex20 {
  flex: 2;
}

.flex80 {
  flex: 8;
}

.flex60 {
  flex: 6;
}

.flex40 {
  flex: 4;
}

.font08 {
  font-size: 0.8rem;
}

.font12 {
  font-size: 1.2rem;
}

.font14 {
  font-size: 1.4rem;
}

.font16 {
  font-size: 1.6rem;
}

.font18 {
  font-size: 1.8rem;
}

.font20 {
  font-size: 2rem;
}

.mg12 {
  margin: 12px;
}

/* 上中下布局 */
body,
html,
.div-main {
  margin: 0px;
  padding: 0px;
}

.div-head {
  width: 100%;
  position: fixed;
}

.div-head {
  top: 0px;
  border-bottom: 2px solid rgb(224, 233, 227);
}



.div-body {
  overflow-x: hidden;
  overflow-y: auto;
}

/* 上中下布局结束 */

/*内容垂直居中的div*/
.vc-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iconfont */
.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  /* font-size: .8em; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* project id 708151 */
  src: url('//at.alicdn.com/t/font_708151_kpfinp293c.eot');
  src: url('//at.alicdn.com/t/font_708151_kpfinp293c.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_708151_kpfinp293c.woff') format('woff'),
    url('//at.alicdn.com/t/font_708151_kpfinp293c.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_708151_kpfinp293c.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont';  /* project id 721813 */
  src: url('//at.alicdn.com/t/font_721813_fr6hq7n775d.eot');
  src: url('//at.alicdn.com/t/font_721813_fr6hq7n775d.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_721813_fr6hq7n775d.woff') format('woff'),
  url('//at.alicdn.com/t/font_721813_fr6hq7n775d.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_721813_fr6hq7n775d.svg#iconfont') format('svg');
}
/* 表单 */
.myinput-div {
  margin: 0px 10px 20px 10px;
}
.myinput-div .myinput {
  border: 0px solid #000000;
  background-color: transparent;
  border-bottom: 2px solid #00ddff;
  outline: none;
}

.myinput-div .myinput:focus {
  border: 0px solid #000000;
  background-color: transparent;
  border-bottom: 2px solid #00ddff;
}

.myinput-div .myinput::-ms-input-placeholder {
  padding-left: 30px;
}
.myinput-div .myinput::-webkit-input-placeholder {
  padding-left: 30px;
}

.myinput-div .mybutton {
  margin: 5px;
  padding: 10px 50px 10px 50px;
  background-color: #00ddff;
  color: #ffffff;
  border-radius: 30px;
}
.mybutton2{
  background-color: #00ddff;
  color: #ffffff;
}



